APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8PREFIX = ru_DEBUG = false[LANG]default_lang = zh-cn[SITE]NAME = 比赛排名系统URL = https://localhost/rankupdate/FAVICON = /rankupdate/favicon.icoLOGO = /rankupdate/logo.pngCOLOR = indigoACCENT_COLOR = blue